.navbar {
  margin-bottom: 0;
  border-radius: 0;
  z-index: 2;
  list-style-type: none;
}

.link {
  color: white;
  font-weight: bold;
  padding: 6px;
  box-sizing: border-box;
  &:hover {
    text-decoration: underline;
  }
}

.link-active {
  color: rgb(158, 158, 158);
}

.logo-img {
  max-width: 45px;
}
